
		.ribbon{
			font-family: emoji;
			font-size: 15pt;
			width: 5%;
			min-width: fit-content;
			height: fit-content;
			padding: 3pt 5pt;
			background-color: #FB7299;
			border-radius: 2pt;
			color: white;
			margin-bottom: 2%;
		}

		.research .status{
			color:blue !important;
		}

		.research .status::before{
			content: '\00B7';
			padding: 0 10px;
			font-palette: light;
   			color: darkgray
		}

		.research .info{
			display:none;
			padding-top:10pt;
			font-size:16px;
		}

		.research .abstract{
			padding-bottom:10pt;
		}

		/* obsolete*/
		.paper-list li{
			padding-bottom:4vh;
		}
