@media screen and (max-width: 1400px) {
    #welcome-text {
        width: 50%;
    }
    .welcome-text-main {
        margin: 0;
        font-size: 14pt;
    }

    .welcome-text-icons {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1200px) {
    .welcome-title {
        font-size: 18pt;
        padding-bottom: 20px;
    }

    #welcome-text {
        width: 100%;
    }

    .welcome-text-main {
        margin: 0;
        font-size: 14pt;
    }

    .welcome-text-icons {
        font-size: 10pt;
    }
}