.card {
	width:100%;
	margin: 0 auto 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	transition: all .2s ease-out;
	font-family: sans-serif;
}

.card-title {
	margin-bottom: 0!important;
	font-size: 14pt;
	font-weight: bold;
}

.card-subtitle {
	font-palette: light;
	color: darkgray;
	font-size: 12pt;
	margin-top: 3pt;
}

.card-info{
	padding-top: 10pt;
	font-size: 12pt;
}