.container-side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.h-center { /* horizontally center */
    display: flex;
    justify-items: center!important;
}

.v-center { /* Vertically center */
    display: flex;
    align-content: center!important;
}

.t-center { /* Horizontally and vertically center */
    display: flex;
    align-content: center!important;
    align-items: center!important;
    justify-content: center!important;
    justify-items: center!important;
}

.section {
    width: 100%;
    height: auto;
    position: relative;
    margin: 10vh auto;
}

.section-container {
    width: min(1300px, 80%);
    height: auto;
    margin: 0 auto;
}

.section-heading {
    padding-bottom: 3vh;
    font-family: math;
}

.section-heading h1 {
    font-size: 35pt;
    font-weight: bold;
}



#navbar-main {
    display: flex;
    position: fixed;
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 100;
}

#navbar-main ul {
    list-style-type: none; /* Remove the bullets from a list */
}

#navbar-main .nav-item {
    position: relative; /* This is used for the ::after effect; otherwise, the position of triangle may get messed */
}

#navbar-main .nav-link {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 15pt;
}

#navbar-main .active {
    background-color: #0db2fd;
}

#navbar-main .active::after {
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0db2fd;
    clear: both;
}

#navbar-main .never-active {
    background-color: transparent !important;
}

#navbar-main .never-active::after {
    border-top: 10px solid transparent !important;
}

#navbar-main .navbar-toggler {
    color: white;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
}

#home {
    width: 100% !important;
    height: fit-content !important;
    margin: 0 !important;
    display: block;
}

#welcome-background {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: auto;
    display: flex;
    align-items: center;
}

#welcome-content-container {
    width: 100vw;
    height: 100%;
    min-height: fit-content;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    padding: min(5%, 20pt) min(5%, 80pt);
}

#welcome-picture {
    margin: 0;
    padding: 0;
    width: min(30%, 320pt);
    min-width: 150pt;
    flex-wrap: wrap;
}

.swiper {
    border-radius: 20px;
    border: solid white 5px;
    border-bottom: solid white 16px;
    overflow: hidden;
}

.welcome-photo {
    width: 100%;
    height: 100%;
}

#welcome-text {
    height: 100%;
    width: min(70%, 640pt);
    min-height: fit-content;
    margin: 0;
    padding: 0 0 0 min(5%, 25pt);
    display: flex;
    align-items: center;
}

.welcome-title {
    font-size: max(18pt,min(3vw, 40pt));
    font-family: fantasy;
    display: inline-block;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(4px);
    }
    15% {
        opacity: 1;
        filter: blur(0);
    }
    95% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        opacity: 0;
        filter: blur(4px);
    }
}

.welcome-title:nth-child(1) {
    animation: fade-in 16s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    /*-webkit-animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);*/
    /*-moz-animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);*/
    /*-o-animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);*/
    /*-ms-animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);*/
    animation-iteration-count: infinite;
}

.welcome-title:nth-child(2) {
    animation: fade-in 16s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    animation-iteration-count: infinite;
}

.welcome-title:nth-child(3) {
    animation: fade-in 16s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    animation-iteration-count: infinite;
}

.welcome-title:nth-child(4) {
    animation: fade-in 16s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    animation-iteration-count: infinite;
}

#home .fa {
    margin-left: min(2%, 15px);
}

#home a {
    color: white;
}

#home a:hover {
    text-decoration: none;
}

#home .swiper-pagination {
    position: relative;
    top: -16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-items: right;
    justify-content: center;
}