.awards .card-body{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.awards .card-title{
    margin: 0;
}

.awards .card-subtitle{
    margin: 0.25rem 0 0;
}

/*<div class="card">*/
/*<div class="card-body">*/
/*<h4 class="card-title">____fill the title____</h4>*/
/*<div class="card-subtitle">*/
/* ____fill the institution____*/
/*<span class="middot-divider"></span>____fill the year____*/
/*</div>*/
/*</div>*/
/*</div>*/