#about p{
    margin: 0;
}

#about .section-body{
    margin: 0;
    padding: 0;
    width: 100%!important;
    max-width: 100%!important;
    display: flex;
}

#about .col-sm{
    width: 33%;
    padding: 0 5% 0 0;
}
#about .col-sm:last-child {
    padding: 0;
}

#about .col-heading{
    width: 100%!important;
    height: min(50px,10%);
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: rgb(62,63,94);
    margin-bottom: 1vh;
}
#about .col-title{
    font-size: Large;
}

.col-entry{
    margin:0 0 0 0;
    color: rgb(143, 145, 172);
}

.skill-entry{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px 0 0 0;
    color: rgb(143, 145, 172);
}
div:nth-child(2){
    margin-top: 0;
}

.skill-name{
    height:100%;
    width:35%;
    font-weight: bold;
}

.progress{
    height:100%!important;
    width:63%!important;
    margin-left:1%!important;
    margin-top:1%!important;
}

.progress-bar {
    background-color: rgb(143, 145, 172)!important;
}

@media screen and (max-width: 915px) {
    #about .section-body{
        display: block;
    }
    #about .col-sm{
        width: 100%;
        margin-top: 5%;
    }
}
