#research .section-heading .span{
	font-size:10pt;
}

#research #filter-box{
	background-color: rgba(110, 111, 142, 15%);
	color: black;
	padding: 5pt;
	border-radius: 3pt;
	margin: 0 0 2% 0;
}

.research-interests{
	display: flex;
	flex-wrap: wrap;
	font-size: 11pt;
	justify-content: space-between;
	margin-bottom: 1%;
}

.research-interests-left{
	font-size: 11pt;
	display: flex!important;
	flex-wrap: wrap;
	width: 85%;
}

#research .itag{
	font-size: 11pt;
}
#research .iicon{
	font-size: 10pt;
}

.ribbon{
	font-family: emoji;
	font-size: 15pt;
	width: 5%;
	min-width: fit-content;
	height: fit-content;
	padding: 3pt 5pt;
	border-radius: 2pt;
	margin-bottom: 2%;
}
.ribbon-icon{
	font-size: 12pt;
}

/******************************************/
/********************* Section ***********/
#research .status{
	color:blue !important;
}
#research .status::before{
	content: '\00B7';
	padding: 0 10px;
	font-palette: light;
	color: darkgray
}
#research .link{
	color:blue !important;
}

/******************************************/
/********************* Section ***********/
#research .card-info{
	display:none;
}
#research .abstract{
	padding-bottom:10pt;
}
