.research .section-body{
	width:100%;
	margin:0 auto;
	padding-left:0;
}

#research-interests-box{
	background-color: rgba(110, 111, 142, 15%);
	color: black;
	padding: 5pt;
	border-radius: 3pt;
	margin: 0 0 2% 0;
}

.research-interests{
	display: flex;
	flex-wrap: wrap;
	font-size: 11pt;
	justify-content: space-between;
	margin-bottom: 1%;
}

.research-interests-left{
	font-size: 11pt;
	display: flex!important;
	flex-wrap: wrap;
	width: 80%;
}

.research-i-tag{
	font-size: 11pt;
}

.research-i-icon{
	font-size: 10pt;
}

.ribbon{
	font-family: emoji;
	font-size: 15pt;
	width: 5%;
	min-width: fit-content;
	height: fit-content;
	padding: 3pt 5pt;
	/*background-color: rgba(253, 41, 13, 0.54);*/
	border-radius: 2pt;
	/*color: white;*/
	margin-bottom: 2%;
}

.ribbon-icon{
	font-size: 12pt;
}

.research .status::before{
	content: '\00B7';
	padding: 0 10px;
	font-palette: light;
	color: darkgray
}

.research .status{
	color:blue !important;
}

.r-link{
	color:blue !important;
}


.research .card-info{
	display:none;
}

.research .abstract{
	padding-bottom:10pt;
}

/*.paper-list li{*/
/*	padding-bottom:4vh;*/
/*}*/
